*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
}

/* debug */

.debug header{
  background-color: lightgreen;
}

.debug .header-left,
.debug .header-right{
  background-color: green;
}

.debug .light-blue{
  background-color: lightskyblue;
}

.debug .container-big{
  background-color: blue;
  height:600px;
}

.debug .text-col{
  height: 400px;
  background-color: orange;
}

.debug .img-col{
  height: 400px;
  background-color: pink;
}

.debug section{
  background-color: yellow;
}

.debug .billing{
  height: 50px;
  background-color: burlywood;
}

.debug .small-col{
  height: 600px;
  background-color: orangered;
}

.debug .business-plan.row{
  height: 200px;
  background-color: orangered;
}

.debug .feature.small-col{
  height: 300px;
}

.debug .clients-columns{
  background-color: aqua;
}

.debug .square-block{
  border: 1px solid black;
  background-color: beige;
}

.debug .faq{
  background-color: grey;
  height: 300px;
}

.debug footer{
  background-color: black;
  height: 500px;
}

.debug footer .container-big{
   background-color: azure;
   height: 300px;
}


/* regole css */

/* header */

header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header-left,
.header-right{
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

header ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

/* main */

.container-big{
  max-width: 1000px;
  margin: 0 auto;
}

.columns{
  display: flex;
  gap: 30px;
}

.jumbotron h1{
  padding-top: 100px;
}

.text-col{
  width: 40%;
}

.img-col{
  width: 60%;
}

.container-small{
  max-width: 850px;
  margin: 0 auto;
}

h2{
  margin-top: 150px;
}

.small-col{
  width: calc(100% / 3);
}

.row{
  width: 100%;
}

.business-plan.row{
  margin: 30px 0 100px 0;
}

.features .columns{
  margin-bottom: 30px;
}

/* clients section */

.clients-columns{
  display: flex;
}

.square-col{
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  display: flex;
  flex-wrap: wrap;
}

.square-block{
  width: 50%;
}

/* clients section - fine */

section.light-blue h2{
 margin:0;
}

.columns.row{
  justify-content: space-between;
  align-items: center;
  height: 200px;
}


/* footer */

footer{
  margin-top: 150px;
  padding: 100px 0 30px 0;
}

.footer-col{
  width: calc(100% / 5);
}

