*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
}

/* debug */

.debug header{
  background-color: lightgreen;
}

.debug .header-left,
.debug .header-right{
  background-color: green;
}

.debug .jumbotron{
  background-color: lightskyblue;
}

.debug .container-big{
  background-color: blue;
  height:600px;
}

.debug .text-box{
  height: 400px;
  background-color: orange;
}

.debug .jumbotron img{
  height: 400px;
  background-color: pink;
}

.debug .container-small{
  background-color: lightgoldenrodyellow;
  height:1000px;
}

.debug .container-small section{
  background-color: lightsalmon;
}




/* regole css */

/* header */

header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header-left,
.header-right{
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

header ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

/* main */

.container-big{
  max-width: 1000px;
  margin: 0 auto;
}

.two-columns{
  display: flex;
}

.jumbotron h1{
  padding-top: 100px;
}

.jumbotron .text-box{
  width: 40%;
}

.jumbotron img{
  width: 60%;
}

.container-small{
  max-width: 900px;
  margin: 0 auto;
}

.container-small h2{
  margin-top: 200px;
}